* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  background-image: url("https://images.unsplash.com/photo-1621332606136-7e66f02dade1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHBvbW9kb3JvfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}
#mainHeader {
  position: absolute;
  margin-left: 340px;
  color: white;
  font-weight: bold;
}
#menuIcon {
  font-size: 40px;
  position: relative;
  top: 30px;
  left: 250px;
}

#gitHubLink {
  position: absolute;
  top: 570px;
  left: 600px;
}

footer {
  position: relative;
}

.timer-selection {
  font-size: 28px;
  position: absolute;
  top: 515px;
  left: 450px;
  color: white;
  font-weight: bold;
}

.timer-selection-header {
  font-family: "Lobster";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  position: absolute;
  left: 480px;
  top: 440px;
  padding-top: 15px;
}

.pomodoro-clock {
  position: absolute;
  top: 110px;
  background-color: white;
  margin-right: 500px;
  margin-left: 500px;
  border-radius: 10px;
  width: 350px;
}
.pomodoro-counts {
  position: absolute;
  display: flex;
  left: 450px;
  top: 400px;
  gap: 20px;
  font-family: Lobster, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 50px;
}
.pomodoro-controls {
  border-radius: 10px;
  position: absolute;
  top: 170px;
  margin-top: 50px;
  margin-left: 480px;
  border: 1px solid red;
  padding: 10px 10px;
  background-color: whitesmoke;
}
.pomodoro-controls button {
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  display: flexbox;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px;
}

.pomodoro-controls h3 {
  color: red;
  position: absolute;
  left: 500px;
  font-weight: bold;
}

#decisionControls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#timeVal {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

#breakButton {
  background-color: green;
}

#mainHeader {
  font-family: "Lobster";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  position: absolute;
  left: 150px;
}

h3 {
  position: absolute;
  top: 300px;
  left: 740px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
}

footer {
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 570px;
  left: 450px;
}
